::-moz-selection {
    background: black;
    color: white;
}
::selection {
    background: black;
    color: white;
}

.highlight pre {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    width: 100%;
}

svg {
    height: 1.8em;
    width: auto;
    margin-bottom: -0.2em;
}

#footer {
    text-align: center;
}
